extends layouts/main.pug
block content
    h1 Add User
    form.form(action="/users", method="POST")
        .form-control
            label(for="name") Name
            input(type="text" name="name")#name
        button.btn(type="submit") Add User