body {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}
main {
    padding: 1rem;
}
.header {
    width: 100%;
    height: 3.5rem;
    background-color: #dbc441;
    padding: 0 1.5rem;
}
.header-nav {
    height: 100%;
    display: flex;
    align-items: center;
}
.header-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}
.header-list--item {
    margin: 0 1rem;
    padding: 0;
}
.header-list--item a {
    text-decoration: none;
    color: black;
}
.header-list--item a:hover,
.header-list--item a:active,
.header-list--item a.active {
    color: #3e00a1;
}